.form-container, .register-form {
  display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: #def0e9;
  padding: 20px;
 }
 .form-container{
  background-color: #def0e9;
  gap: 10px;
   padding: 50px;
 }
 label{
   text-align: left;
   padding: 0.25rem 0rem;
 }

 input{
   padding: 1rem;
   border: none;
   border-radius: 4px;
   margin: 0.5rem 0rem;
 }
button{
 border: none;
 border-radius: 4px;
 padding: 10px;
 background-color: #01d28e;
 cursor : pointer;

}

/* input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}



.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
} */